* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: black;
}
body {
  width: 100%;
  background-color:#DBCF8E;
}
.header-left {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
}
.header-list {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.home-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Alterado de height para min-height */
  margin: 10px;
  color: black;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}
.image {
  margin: 0;
  display: grid;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  justify-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}
.item {
  display: grid;
  align-items: center;
  justify-content: center;
}
.image-emira {
  width: 300px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.lotus_emira {
  background-color: rgba(255, 255, 255, 0.698);
  padding-bottom: 2px;
  width: 300px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.footer-content {
  display: grid;
  align-items: end;
  justify-items: center;
  font-weight: 500;
  margin-top: auto; /* Adicionado para empurrar o footer para baixo */
  padding: 10px 0; /* Adicionado para dar espaço ao footer */
}
.dev-link {
  color: black;
  font-weight: bold;
}